<!DOCTYPE html>
<!-- build:[manifest]:prod manifest.appcache -->
<html>
<!-- /build -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- build:template
    <title><%= name %></title>
    /build -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="styles/app.css">
</head>
<body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com">upgrade your browser</a> to improve your experience.</p>
    <hr/>
    <![endif]-->

    <header>
        <section>
            <section class="title">
                <!-- build:template
                <%= name %>
                /build -->
            </section>
            <section class="connected number-of-connections" hidden></section>
            <section class="led-container">
                <span class="led" hidden></span>
                <span class="led-description" hidden></span>
            </section>
        </section>
        <hr/>
    </header>

    <section class="page-content">
        <section class="main-content">
            <section class="watermark">some content ...</section>
        </section>
    </section>

    <footer>
        <hr/>
        <section>
            <!-- build:template
            <span><%= name %> v<%= version %></span>
            <span>built <%= timestamp %></span>
            /build -->
            <!--<span class="development"></span>-->
            <!-- build:remove:prod -->
            <!-- Add "Development mode" info in footer -->
            <span class="development">Development configuration</span>
            <!-- /build -->
        </section>
    </footer>

    <!-- build:template
    <script>
        var upgradeMessage = 'A newer version of <%= name %> is available! Load it?';
    </script>
    /build -->
    <!-- build:remove:dev -->
    <script src="scripts/app-appcache.js"></script>
    <!-- /build -->

    <!-- HTTP server push (with Socket.IO) -->
    <!-- build:[src]:prod scripts/vendor/socket.io.min.js -->
    <script src="scripts/vendor/socket.io.js"></script>
    <!-- /build -->
    <script src="scripts/app-socketio.js"></script>
    <!-- /HTTP server push (with Socket.IO) -->

    <!-- build:remove:prod -->
    <!-- Automatic reload of page, default URL for 'grunt-contrib-watch' reload server -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- /build -->
</body>
</html>
