<!DOCTYPE html>
<!-- build:[manifest]:prod manifest.appcache -->
<html>
<!-- /build -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- build:template
    <title><%= name %></title>
    /build -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <!-- build:[href]:prod styles/app.min.css -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- /build -->
</head>
<body>
    <!--[if lt IE 10]>
    <p class="browsehappy">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com">upgrade your browser</a> to improve your experience.
    </p>
    <hr/>
    <![endif]-->

    <!-- Fork me on GitHub (https://github.com/blog/273-github-ribbons) -->
    <article>
        <a href="//github.com/eirikt/default-webapp-heroku">
            <img style="position:absolute;top:0;right:0;border:0;" src="//camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="//s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
        </a>
    </article>

    <div id="content"></div>

    <script>
        <!-- Some build time properties -->
        <!-- build:template
        var appTitle = "<%= name %>";
        var appVersion = "<%= version %>";
        var appBuildTimestamp = "<%= timestamp %>";
        var upgradeMessage = "A newer version of <%= name %> is available! Load it?";
        var appBuildConfiguration = "production";
        /build -->

        <!-- build:remove:prod -->
        appBuildConfiguration = "development";
        <!-- /build -->
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.25/browser.js"></script>

    <script type="text/babel">
        var AppCacheUpdateReady = React.createClass({
                render: function() {
                    console.log("React :: AppCacheUpdateReady component: rendering ...");
                    return false;
                },
                componentDidMount: function() {
                    console.log("React :: AppCacheUpdateReady component: mounted ... (enabled=" + this.props.enabled + ", upgradeMessage=" + this.props.upgradeMessage + ")");
                    var appCache = window.applicationCache,
                        upgradeMessage = this.props.upgradeMessage;
                    if (appCache) {
                        window.addEventListener("load", function() {
                            appCache.addEventListener("updateready", function() {
                                if (appCache.status === appCache.UPDATEREADY) {
                                    if (window.confirm(upgradeMessage)) {
                                        window.location.reload();
                                    }
                                }
                            }, false);
                        }, false);
                    }
                }
            }),

            Title = React.createClass({
                render: function() {
                    return (
                        <section className="title">{this.props.appTitle}</section>
                    );
                }
            }),

            NetworkStatus = React.createClass({
                updateNetworkStatus: function(event) {
                    var online = navigator.onLine,
                        condition = online ? "online" : "offline";

                    console.log("React :: NetworkStatus component: Event:" + (!event ? "unknown" : event.type) + ", Status:" + condition);

                    var el = this.refs.networkStatus;
                    el.classList.remove("fadein-network-status-offline");
                    el.classList.remove("fadeout-network-status-offline");
                    el.classList.remove("fadein-network-status-online");
                    el.classList.remove("fadeout-network-status-online");

                    if (online) {
                        if (event != null) {
                            el.classList.add("fadeout-network-status-offline");
                        }
                        setTimeout(function() {
                            if (event != null) {
                                el.classList.remove("fadeout-network-status-offline");
                            }
                            el.classList.add("fadein-network-status-online");
                        }, 1000);

                    } else {
                        if (event != null) {
                            el.classList.add("fadeout-network-status-online");
                        }
                        setTimeout(function() {
                            if (event != null) {
                                el.classList.remove("fadeout-network-status-online");
                            }
                            el.classList.add("fadein-network-status-offline");
                        }, 1000);
                    }
                },
                render: function() {
                    console.log("React :: NetworkStatus component: rendering ...");
                    return (
                        <span ref="networkStatus"></span>
                    );
                },
                componentDidMount: function() {
                    console.log("React :: NetworkStatus component: mounted ...");
                    window.addEventListener("online", this.updateNetworkStatus, false);
                    window.addEventListener("offline", this.updateNetworkStatus, false);
                    this.updateNetworkStatus();
                },
                componentWillUnmount: function() {
                    console.log("React :: NetworkStatus component: unmounted ...");
                    window.removeEventListener("online", function() {
                        console.log("React :: ConnectionStatus component: \"online\" event listener removed ...");
                    }, false);
                    window.removeEventListener("offline", function() {
                        console.log("React :: ConnectionStatus component: \"offline\" event listener removed ...");
                    }, false);
                }
            }),

            ConnectionStatus = React.createClass({
                removeAllFadingClasses: function(el) {
                    el.classList.remove("fadein-connection-status-disconnected");
                    el.classList.remove("fadeout-connection-status-disconnected");
                    el.classList.remove("fadein-connection-status-connected");
                    el.classList.remove("fadeout-connection-status-connected");
                },
                fadeinConnection: function() {
                    var el = this.refs.connectionStatus;
                    this.removeAllFadingClasses(el);
                    if (window.connected === false) {
                        el.classList.add("fadeout-connection-status-disconnected");
                        setTimeout(function() {
                            el.classList.remove("fadeout-connection-status-disconnected");
                            el.classList.add("fadein-connection-status-connected");
                        }, 1000);
                    } else {
                        el.classList.add("fadein-connection-status-connected");
                    }
                    Array.prototype.forEach.call(document.getElementsByClassName("connected"), function(el) {
                        el.classList.remove("fadeout");
                        el.classList.add("fadein");
                        setTimeout(function() {
                            el.removeAttribute("hidden");
                        }, 1000);
                    });
                },
                fadeoutConnection: function() {
                    var el = this.refs.connectionStatus;
                    this.removeAllFadingClasses(el);
                    if (window.connected === true) {
                        el.classList.add("fadeout-connection-status-connected");
                        setTimeout(function() {
                            el.classList.remove("fadeout-connection-status-connected");
                            el.classList.add("fadein-connection-status-disconnected");
                        }, 1000);
                    } else {
                        el.classList.add("fadein-connection-status-disconnected");
                    }
                    Array.prototype.forEach.call(document.getElementsByClassName("connected"), function(el) {
                        el.classList.remove("fadein");
                        el.classList.add("fadeout");
                        setTimeout(function() {
                            el.setAttribute("hidden", "true");
                            el.classList.remove("fadeout");
                        }, 1000);
                    });
                },
                render: function() {
                    console.log("React :: ConnectionStatus component: rendering ...");
                    return (
                        <span ref="connectionStatus"></span>
                    );
                },
                componentDidMount: function() {
                    console.log("React :: ConnectionStatus component: mounted ...");
                    window.addEventListener("connected", this.fadeinConnection, false);
                    window.addEventListener("disconnected", this.fadeoutConnection, false);
                    window.addEventListener("connection-failed", this.fadeoutConnection, false);
                    window.addEventListener("connection-error", this.fadeoutConnection, false);
                },
                componentWillUnmount: function() {
                    console.log("React :: ConnectionStatus component: unmounted ...");
                    window.removeEventListener("connected", function() {
                        console.log("React :: ConnectionStatus component: \"connected\" event listener removed ...");
                    }, false);
                    window.removeEventListener("disconnected", function() {
                        console.log("React :: ConnectionStatus component: \"disconnected\" event listener removed ...");
                    }, false);
                    window.removeEventListener("connection-failed", function() {
                        console.log("React :: ConnectionStatus component: \"connection-failed\" event listener removed ...");
                    }, false);
                    window.removeEventListener("connection-error", function() {
                        console.log("React :: ConnectionStatus component: \"connection-error\" event listener removed ...");
                    }, false);
                },
            }),

            ConnectionCount = React.createClass({
                render: function() {
                    console.log("React :: ConnectionCount component: rendering ...");
                    return (
                        <span ref="connectionCount" className="connected connection-count"></span>
                    );
                },
                componentDidMount: function() {
                    console.log("React :: ConnectionCount component: mounted ...");
                    var el = this.refs.connectionCount;
                    window.addEventListener("connection-count", function(event) {
                        console.log("React :: ConnectionCount component: CONNECTIONCOUNT received ... (" + JSON.stringify(event.detail) + ")");
                        el.classList.add("fadein");
                        if (window.connectionCount === 1) {
                            el.innerText = "You're the only user connected ...";
                        } else {
                            el.innerText = window.connectionCount + " active connections";
                        }
                        el.classList.remove("fadeout");
                    }, false);
                },
            }),

            StatusContainer = React.createClass({
                render: function() {
                    return (
                        <section className="status-container">
                            <section>
                                <section className="network-status-container"></section>
                                <section className="connection-status-container"><ConnectionCount /></section>
                            </section>
                            <section>
                                <section className="network-status-container"><NetworkStatus /></section>
                                <section className="connection-status-container"><ConnectionStatus /></section>
                            </section>
                        </section>
                    );
                }
            }),

            Header = React.createClass({
                render: function() {
                    return (
                        <header>
                            <section>
                                <Title appTitle={this.props.appTitle} />
                                <StatusContainer />
                            </section>
                            <hr/>
                        </header>
                    );
                }
            }),

            MainContentPlaceholder = React.createClass({
                render: function() {
                    return (
                        <section className="watermark">some content ...</section>
                    );
                }
            }),

            ApplicationLabel = React.createClass({
                render: function() {
                    return (
                        <span>{this.props.appTitle}&nbsp;v{this.props.appVersion}</span>
                    );
                }
            }),

            ApplicationBuiltLabel = React.createClass({
                render: function() {
                    return (
                        <span>built&nbsp;{this.props.appBuildTimestamp}</span>
                    );
                }
            }),

            DevelopmentLabel = React.createClass({
                render: function() {
                    if (this.props.appBuildConfiguration === "development") {
                        return (
                            <span className="development">Development configuration</span>
                        );
                    }
                    return false;
                }
            }),

            Footer = React.createClass({
                render: function() {
                    return (
                        <footer>
                            <hr/>
                            <section>
                                <ApplicationLabel appTitle={this.props.appTitle} appVersion={this.props.appVersion} />
                                <ApplicationBuiltLabel appBuildTimestamp={this.props.appBuildTimestamp} />
                                <DevelopmentLabel appBuildConfiguration={this.props.appBuildConfiguration} />
                            </section>
                        </footer>
                    );
                }
            });

        ReactDOM.render(
            <article className="page">
                <AppCacheUpdateReady enabled={appBuildConfiguration === "production"} upgradeMessage={upgradeMessage} />
                <Header appTitle={appTitle} />
                <MainContentPlaceholder />
                <Footer appTitle={appTitle} appVersion={appVersion} appBuildTimestamp={appBuildTimestamp} appBuildConfiguration={appBuildConfiguration} />
            </article>,
            document.getElementById("content")
        );
    </script>

    <!-- build:remove:dev -->
    <script src="scripts/app.min.js"></script>
    <!-- /build -->

    <!-- build:remove:prod -->
    <!-- HTTP server push (with Socket.IO) -->
    <script src="scripts/vendor/socket.io.js"></script>
    <script src="scripts/app-socketio.js"></script>
    <!-- /build -->

    <!-- build:remove:prod -->
    <!-- Automatic reload of page, default URL for 'grunt-contrib-watch' reload server -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- /build -->
</body>
</html>
