# Always ignore
.ssh

# Ignore IDE stuff

# Ignore derived/generated project resources
public

# Ignore downloaded project resources
node_modules

# Ignore fixated project resources
SETUP.md

# Ignore personal development stuff
