# Always ignore
.ssh

# Ignore IDE stuff

# Ignore derived/generated project resources
build
public

# Ignore downloaded project resources
node_modules

# Ignore frozen project resources
SETUP.md

# Ignore personal development stuff
npm-debug.log
