$font-stack: sans-serif;
$grey: #808080;
$orange: #eb5e04;
$primary-color: #555;
$small-font-size: 12px;
$primary-vertical-margin: 1rem;
$primary-horizontal-margin: $primary-vertical-margin / 2;
$green-led: '/images/led-green.png';
$red-led: '/images/led-red.png';
$led-size: $small-font-size + 2;
$connected-text: 'connected';
$disconnected-text: 'disconnected';
$fade-duration: 1s;

body {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    height: 100vh; // https://alastairc.ac/2014/08/flexbox-ie11-bugs
    justify-content: space-between;
    max-height: 100vh;
    min-height: 100vh;
}

header > {
    section {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        margin-left: $primary-horizontal-margin;
        margin-right: $primary-horizontal-margin;
        margin-top: $primary-vertical-margin;
    }
}

footer > {
    section {
        color: $grey;
        display: flex;
        flex-wrap: wrap;
        font-style: italic;
        justify-content: space-between;
        margin-bottom: $primary-vertical-margin;
        margin-left: $primary-horizontal-margin;
        margin-right: $primary-horizontal-margin;
    }
}

.title {
    font-size: xx-large;
}

.number-of-connections {
    font-size: $small-font-size;
    margin-right: 2rem;
}

.page-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.watermark {
    font-size: 4rem;
    opacity: .1;
    text-align: center;
    z-index: 99;
}

.development {
    color: $orange;
    font-weight: bold;
}

.led-container {
    align-items: flex-end;
    display: flex;
}

.led {
    width: $led-size;
}

.led-description {
    font-size: $small-font-size;
    margin-left: .2rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@mixin fading-animation($name) {
    animation: $name $fade-duration;
}

.fadein {
    @include fading-animation(fadein);
}

.fadeout {
    @include fading-animation(fadeout);
}

%connected-led {
    background-image: url($green-led);
    background-size: $led-size $led-size;
    height: $led-size;
    width: $led-size;
}

.fadein-connected-led {
    @extend %connected-led;
    @include fading-animation(fadein);
}

.fadeout-connected-led {
    @extend %connected-led;
    @include fading-animation(fadeout);
}

.fadein-connected-led-description::after {
    @include fading-animation(fadein);
    content: $connected-text;
}

.fadeout-connected-led-description::after {
    @include fading-animation(fadeout);
    content: $connected-text;
}

%disconnected-led {
    background-image: url($red-led);
    background-size: $led-size $led-size;
    height: $led-size;
    width: $led-size;
}

.fadein-disconnected-led {
    @extend %disconnected-led;
    @include fading-animation(fadein);
}

.fadeout-disconnected-led {
    @extend %disconnected-led;
    @include fading-animation(fadeout);
}

.fadein-disconnected-led-description::after {
    @include fading-animation(fadein);
    content: $disconnected-text;
}

.fadeout-disconnected-led-description::after {
    @include fading-animation(fadeout);
    content: $disconnected-text;
}
